.cabecalho{
    background-color: aquamarine;
    color:black;
    text-align:center;
    margin: 0 auto;
    max-width:800px;
    padding: 16px;
}

.principal{
    background-color: black;
    color:aquamarine;
}

.imagem-principal{
    /*dimensões da imagem:latgura e altura 100 pixels*/
    width: 100px;
    height: 100px;
}

